<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="true">
    <nav>
      <button
        mat-button
        *ngFor="let parentTopic of parentTopics$ | async"
        (click)="pick(parentTopic.title)"
      >
        {{ "<--" }}
        {{ parentTopic?.title ? parentTopic?.title : "Back" }}
      </button>

      <mat-list role="list">
        <mat-list-item
          role="listitem"
          *ngFor="let children of childrens$ | async"
        >
          <button
            mat-button
            (click)="pick(children.title || '')"
            [disabled]="!children.questionsCount"
          >
            {{ children.title }} {{ children.questionsCount }}
          </button>
        </mat-list-item>
      </mat-list>
    </nav>
  </mat-drawer>
  <mat-drawer-content>
    <main class="content">
      <h2>{{ (pickedTopic$ | async)?.title }} {{ totalQuestions$ | async }}</h2>
      <app-graph-svg
        [pickedTopic]="pickedTopic$ | async"
        [parentTopics]="parentTopics$ | async"
        [childrenTopics]="childrenTopics$ | async"
      ></app-graph-svg>
      <button mat-raised-button (click)="passTest()">Pass test</button>
    </main>
    <div class="additonal-menu">
      <mat-card>
        <mat-card-title>Top users on topic</mat-card-title>
        -
      </mat-card>
      <mat-card>
        <mat-card-title>Your recommenadtions in topic</mat-card-title>
        -
      </mat-card>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
