<header>
  <div class="header--menu-info-block">
    <button
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a menu icon"
      (click)="menuVisible = !menuVisible"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <h1>brainbuster-map</h1>
  </div>
</header>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="menuVisible">
    <nav>
      <button
        mat-button
        *ngFor="let parentTopic of parentTopics$ | async"
        (click)="pick(parentTopic.title)"
      >
        {{ "<--" }}
        {{ parentTopic?.title ? parentTopic?.title : "Back" }}
      </button>

      <mat-list role="list">
        <mat-list-item
          role="listitem"
          *ngFor="let children of childrens$ | async"
        >
          <button
            mat-button
            (click)="pick(children.title || '')"
            [disabled]="!children.questionsCount"
          >
            {{ children.title }} {{ children.questionsCount }}
          </button>
        </mat-list-item>
      </mat-list>
    </nav>
  </mat-drawer>
  <mat-drawer-content>
    <main class="content">
      <h2>{{ (pickedTopic$ | async)?.title }} </h2>
      <p>Total quantity of questions: {{ totalQuestions$ | async }}</p>
      <button class="pass-test-button" mat-raised-button color="accent" (click)="passTest()">
        Pass test
      </button>
      <app-graph-svg
        [pickedTopic]="pickedTopic$ | async"
        [parentTopics]="parentTopics$ | async"
        [childrenTopics]="childrenTopics$ | async"
      ></app-graph-svg>
    </main>
    <div class="additonal-menu">
      <h2>Hello, {{ userName }}!</h2>
      <mat-card>
        <mat-card-title>Top users on topic</mat-card-title>
        <mat-card-content>
          <p *ngFor="let r of topUsers$ | async; index as i">
            {{ i + 1 }}) {{ r.userName }} with {{ r.score }} points
          </p>
          <p *ngIf="!(userOnTop$ | async)">Pass test to be in top!</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Your recommenadtions in topic</mat-card-title>
        <mat-card-content>
          <p *ngFor="let r of reccomendations$ | async; index as i">
            {{ i + 1 }}) {{ r }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
